/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  width: 100%;
  margin: auto;
}

.nav {
  width: 100%;
}

.nav ul {
  margin: 30px 70px;
  padding: 0px;
  display: inline-block;
  list-style-type: none;
}

.nav ul li {
  list-style: none;
  padding: 10px 60px;
  display: inline;
}

.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  padding: 14px 10px;
  position: relative;
}

.nav ul li a:before {
  content: '';
  width: 0;
  height: 5px;
  background: #00bcd4;
  position: absolute;
  top: 120%;
  left: 0;
  transition: .5s;
  mix-blend-mode: multiply;
}

.nav ul li a:after {
  content: '';
  width: 0;
  height: 5px;
  background: #f0f;
  position: absolute;
  top: 120%;
  right: 0;
  transition: .5s;
  mix-blend-mode: multiply;
}

.nav ul li:hover a:before {
  width:50%;
  transform: translateX(100%);
}

.nav ul li:hover a:after {
  width:50%;
  transform: translateX(-100%);
}


.jumbotron {
  background-color: black;
  height: 520px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  text-align: center;
}

.message {
    color: #fff;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
}

.jumbotron img {
  vertical-align: middle;
  max-width: 268px;
  max-height: 268px;
  color: #bfbfbf;
  float: none;
}

.jumbotron .container {
  position: relative;
  color: white;
}

.cta_wrapper {
  margin-top: 25px;
  text-align: center;
}


.cta-group {
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 16px;
  color: #FFFFFF;
  width: 196px;
  text-align: center;
  display: inline-block;
  height: 48px;
  line-height: 47px;
  padding: 0;
  cursor: pointer;
  font-weight:400;
  transition:all 0.3s linear;
  background: transparent;
}

.cta-group:hover{
  background-color:#ffffff !important;
  border:2px solid transparent;
  color: black;
  text-decoration: none;
}

.cta-group:focus {
  outline: none;
  text-decoration: none;
}

.features {
  height: 30px;
  line-height: 100px;
  border-top: 1px solid rgba(255,255,255,0.14);
  position: relative;
  background-color: black;
}

.features-message {
  font-size: 20px;
  text-align: center;
  font-weight:300;
  color: #ffffff;
}

.faq_section {
  padding: 120px;
  margin-left: 70px;
}

.footer {
  position: relative;
  background-color: black;
  height: 245px;
}

.footer a {
  color: #ffff;
  font-size: 11px;
    padding: 14px 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer li {
  display: inline;
}

socialList {
  margin-top: 5px;
}

.video_style {
  width:560px;
  padding-bottom:315px !important;
}

/*Todo APPL */

.noFill {
  fill: none;
}

.todo-input {
  height: 100px;
  position: relative;
  padding: 15px;
  z-index: 5;
  background: black;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.todo-input input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo-input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.todo-input input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.todo-input input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.todo-input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.todo-input button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo-input button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

.todo-input button svg .fill {
  fill: black;
}



ul.todo {
  width: 100%;
  list-style: none;
}

ul.todo li {
  list-style: none;
  width: 50%;
  min-height: 50px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 22px;

  background: black;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

ul.todo li:last-of-type {
  margin: 0;
}

ul.todo li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid #25b99a;

  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
  background: #25b99a;
  border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: rgba(37, 185, 154, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
  fill: #fff;
}

ul.todo li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
  fill: black;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
  fill: #25b99a;
}

ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0;
}

ul.todo#completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;

  position: absolute;
  top: 30px;
  left: 50%;

  margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after {
  content: 'You have nothing to-do!';
  margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
  content: 'You have yet to complete any tasks.';
}

ul.todo#todo:after,
ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.webvr {

}
